html{
max-width: 960px;
margin: 0 auto;    
}

.container {
background: #FBFBFB;
border: 1px solid #CDDDE7;
box-shadow: 0px 2px 5px 0px #E0E0E0;
border-radius: 12px;
padding: 5px 20px 20px 20px;
max-width: 960px; 
margin: auto;
}

.middle{
vertical-align: middle;
    
}

.inline-block{
display: inline-block;
}

img.center{
display: block;
margin-left: auto;
margin-right: auto;
}

.icon-bar {
border: none;
background-image: url("../img/shattered-blue.png");
background-repeat: repeat-y;
}



#item-brand img{
}
.sidebar {
position: absolute;
    float: left;
padding-left: 10px;    
}

body.signin {
  background: #cddde7;      
}

.tab-inactive {
background: #FBFBFB;
border: 1px solid #DFF1FC;
box-shadow: 0px 2px 5px 0px #E0E0E0;
border-radius: 12px 12px 12px 0px 0px;
}


body {
font-family: 'Open Sans', sans-serif;
font-size: 14px;
color: #356A7D;
line-height: 20px;
background-color: #cddde7;        
    
}

.body-lg {
font-family: 'Open Sans', sans-serif;
font-size: 18px;
color: #356A7D;
line-height: 25px;
}

a {
font-family: 'Open Sans', sans-serif;
font-size: 14px;
color: #4DA8D2;
line-height: 20px;
text-decoration: none;    
}

a.rev-link {
font-family: 'Open Sans', sans-serif;
font-size: 14px;
color: #FFFFFF;
line-height: 20px;
text-decoration: none;    
}

ul,
  ol,
  dl {
    margin: 0 0 1em 0;
    list-style: none;
  }

  li {
    line-height: 1.5em;
    margin-left: -2.7em;
    margin-bottom: 1em;  
  }
h1{
font-family: 'Open Sans', sans-serif;
font-size: 36px;
color: #356A7D;
line-height: 44px;
}

h2{
font-family: 'Open Sans', sans-serif;
font-size: 30px;
color: #356A7D;
line-height: 37px;
}

h3{
font-family: 'Open Sans', sans-serif;
font-size: 18px;
color: #356A7D;
line-height: 22px;
}

h4{
font-family: 'Open Sans', sans-serif;
font-size: 12px;
    weight: 700;
color: #356A7D;
line-height: 15px;
}


.username {
font-family: 'Open Sans', sans-serif;
font-size: 18px;
color: #425A67;
line-height: 22px;
}

.pre-text{
font-family: 'Open Sans', sans-serif;
font-size: 14px;
color: #BBBBBB;
line-height: 17px;
}

.text-tab-active {
font-family: 'Open Sans', sans-serif;
font-size: 14px;
color: #356A7D;
line-height: 26px;
}

.text-tab-inactive {
font-family: 'Open Sans', sans-serif;
font-size: 14px;
color: #999999;
line-height: 26px;
}

.text-sm {
font-family: 'Open Sans', sans-serif;
font-size: 10px;
color: #356A7D;
line-height: 12px;
}

.todo-priority {
font-family: 'Open Sans', sans-serif;
font-size: 14px;
color: #9E2D2B;
line-height: 17px;
}

.vitals-lg {
font-family: 'Open Sans', sans-serif;
font-size: 36px;
color: #4A4A4A;
line-height: 36px;
}
.vitals-lg-alert-yellow {
font-family: 'Open Sans', sans-serif;
font-size: 36px;
color: #F5A623;
line-height: 36px;
}

.vitals-lg-alert-red {
font-family: 'Open Sans', sans-serif;
font-size: 36px;
color: #E55855;
line-height: 36px;
}

.timer {
font-family: 'Open Sans', sans-serif;
font-size: 18px;
color: #F5A623;
line-height: 20px;
font-weight: bold;
}

blockquote{
font-family: Palatino-Italic;
font-size: 24px;
color: #356A7D;
line-height: 34px;
text-align: center;    
}

p.recent-date {
background: #CDDDE7;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
    text-align: center;
width: 4rem;    
color: #356A7D;
line-height: 20px;
margin-bottom: -.5rem;    
}

ul.recent-info{
margin-left: 3rem;
 line-height: .5rem;
  margin-bottom: 0rem;
    width: 160px;
}

img.recent-icon {
float: left;
}

/*Tables*/
.ehv-table {
	margin:0px;
    padding:0px;
	width:100%;
    border: solid #B5C4CE;
    border-width:0px 0px 1px 0px;
    border-collapse: collapse;    
}


.ehv-table table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin: 0;
    padding: 0;
}

.ehv-table tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.ehv-table table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.ehv-table table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.ehv-table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.ehv-table tr:hover td{
	
}
.ehv-table tr:nth-child(odd){ background-color:#f5f5f5; }
.ehv-table tr:nth-child(even){ background-color:#ffffff; }

table.pmon tr th{
text-align: center;
}

.ehv-table td{
    vertical-align:middle;
	border: none;
	padding:17px;
	font-size:14px;
font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	color:#356a7d;
}

table tr th.patient-cell{
text-align: left;
}


table tr td.patient-cell{
text-align: left;
}

.ehv-table th{
font-family: 'Open Sans', sans-serif;
font-size: 14px;
color: #356a7d;
background-color:#cddde7;
line-height: 14px;
white-space: nowrap;
	font-weight: normal;
    
}

}
.ehv-table tr:last-child td{
	border-width:0px 0px 0px 0px;
}
.ehv-table tr td:last-child{
	border-width:0px 0px 0px 0px;
}
.ehv-table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.ehv-table.pcp td:first-child{ 
text-align: left;
 	font-size:14px;
font-family: 'Open Sans', sans-serif;
	font-weight: normal;
    padding: 10px;
    vertical-align: middle;
    line-height: 14px;
}

/*.ehv-table.pcp td:first-child p{ 
margin-bottom: -.25rem;
}*/

.ehv-table.pcp tr:first-child td{
/*background:-o-linear-gradient(bottom, #cddde7 5%, #cddde7 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cddde7), color-stop(1, #cddde7) );
	background:-moz-linear-gradient( center top, #cddde7 5%, #cddde7 100% );

	*/
    border: solid #B5C4CE;
    border-width:0px 0px 0px 0px; 
	font-size:14px;
font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.ehv-table.pcp tr:first-child td:first-child{
	border: solid #B5C4CE;
    border-width:0px 0px 0px 0px; 
}
.ehv-table.pcp tr:first-child td:last-child{
	border: solid #B5C4CE;
    border-width:0px 0px 0px 0px; 
}

.ehv-table.pmon td, th{ 
margin-bottom: -.25rem;
text-align: center;
white-space: nowrap;
vertical-align: middle;
}


.overflow{
overflow: auto;
}

table.right {
text-align: right;
}

.ehv-table.resources td:first-child{ 
text-align: left;
 	font-size:14px;
font-family: 'Open Sans', sans-serif;
	font-weight: normal;
    padding: 10px;
    vertical-align: middle;
    line-height: 0;
    margin-bottom: -.25rem;
}

.ehv-table.resources td:first-child p{ 
margin-bottom: -.25rem;
}

.ehv-table.resources tr:first-child td{
/*background:-o-linear-gradient(bottom, #cddde7 5%, #cddde7 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cddde7), color-stop(1, #cddde7) );
	background:-moz-linear-gradient( center top, #cddde7 5%, #cddde7 100% );

	*/
    border: solid #B5C4CE;
    border-width:0px 0px 0px 0px; 
	font-size:14px;
font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.ehv-table.resources tr:first-child td:first-child{
	border: solid #B5C4CE;
    border-width:0px 0px 0px 0px; 
}
.ehv-table.resources tr:first-child td:last-child{
	border: solid #B5C4CE;
    border-width:0px 0px 0px 0px; 
}

/*.ehv-table tr:first-child td{
background:-o-linear-gradient(bottom, #cddde7 5%, #cddde7 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cddde7), color-stop(1, #cddde7) );
	background:-moz-linear-gradient( center top, #cddde7 5%, #cddde7 100% );

	background-color:#cddde7;
	border: solid #B5C4CE;
    border-width:0px 0px 1px 0px;    
	text-align:center;
	font-size:14px;
font-family: 'Open Sans', sans-serif;
	font-weight: normal;
    padding: 5px;
}*/


.ehv-table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #cddde7 5%, #cddde7 100%);	
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cddde7), color-stop(1, #cddde7) );
	background:-moz-linear-gradient( center top, #cddde7 5%, #cddde7 100% );
    background: -o-linear-gradient(top,#cddde7,cddde7);
	background-color:#cddde7;
}
.ehv-table tr:first-child td:first-child{
	border: solid #B5C4CE;
    border-width:0px 0px px 0px; 
}
.ehv-table tr:first-child td:last-child{
	border: solid #B5C4CE;
    border-width:0px 0px 1px 0px; 
}

/*Buttons*/
.btn-primary{
background-image: linear-gradient(-180deg, #A3EA57 0%, #7CC045 100%);
border: 1px solid #84C848;
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 1px 0px 0px #FFFFFF;
border-radius: 6px;
/* Primary: */
border: 1px solid #84C848;
font-family: 'Open Sans', sans-serif;
font-weight: 700;        
font-size: 14px;
color: #FFFFFF;
line-height: 20px;
text-shadow: 0px 1px 3px #689F3A;
height: 36px;    
}

.btn-secondary{
/* Button Background: */
background-image: linear-gradient(-180deg, #E0E9EF 28%, #C3D6E2 100%);
/*border: 1px solid #CDDDE7;*/
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 1px 0px 0px #FFFFFF;
border-radius: 6px;
/* Secondary: */
font-family:'Open Sans', sans-serif;
font-weight: 700;    
font-size: 14px;
color: #356A7D;        
}

.button.add {
margin-left: 10px;    
float: right;
display: inline-block;
background-image: linear-gradient(-180deg, #E0E9EF 28%, #C3D6E2 100%);
width: 1rem;    
/*border: 1px solid #CDDDE7;*/
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 1px 0px 0px #FFFFFF;
border-radius: 6px;
/* Secondary: */
font-family:'Open Sans', sans-serif;
font-weight: 700;    
font-size: 14px;
color: #356A7D;  
}

.button-group {
float: left;
display: inline-block;
}


/*Forms*/
.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
    border-radius: 6px;
  transition: box-shadow 0.3s, border 0.3s;
    box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.20);
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #CDDDE7;
  box-shadow: 0 0 1px 1px #CDDDE7;
}

.style-1 input[type="text"]:focus,
.style-1 input[type="text"].error {
  border: solid 1px #E55855;
  box-shadow: 0 0 2px 0px #E55855;
}


style-1 input[type="radio"]{
}

label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 1px;
    /*margin-right: 25px*/;  
    font-size: 14px;
    margin-bottom: 1em;
}  

/*Shapes*/
.notification-red {
    display: inline-block;  
	width: 24px;
	height: 24px;
	background: #E55855;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    font-family: ProximaNova-Bold;
font-size: 13px;
color: #FFFFFF;
line-height: 24px;   
}

.notification-black {
    display: inline-block;  
	width: 24px;
	height: 24px;
	background: #4A4A4A;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    font-family: ProximaNova-Bold;
font-size: 13px;
color: #FFFFFF;
line-height: 24px;
position: relative;
    /*top: .5rem;*/
    margin-left: .5rem;
}

.circle-alert-yellow, .recent {
	display: inline-block; 
    width: 32px;
	height: 32px;
	background: #FFCC00;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    font-family: ProximaNova-Semibold;
font-size: 14px;
color: #B1781A;
line-height: 32px;
float: left;
}

.circle-alert-yellow-sm {
	display: inline-block; 
    width: 16px;
	height: 16px;
	background: #FFCC00;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    font-family: ProximaNova-Semibold;
font-size: 14px;
color: #B1781A;
line-height: 32px;
float: left;
}

.circle-alert-red {
	display: inline-block; 
    width: 32px;
	height: 32px;
	background: #E55855;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    font-family: ProximaNova-Semibold;
font-size: 14px;
color: #9E2D2B;
line-height: 32px;   
}

.circle-alert-red-sm {
	display: inline-block; 
    width: 16px;
	height: 16px;
	background: #E55855;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    font-family: ProximaNova-Semibold;
font-size: 14px;
color: #9E2D2B;
line-height: 32px;   
}

.circle-priority {
	display: inline-block; 
    width: 24px;
	height: 24px;
	background: #E55855;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    font-family: ProximaNova-Bold;
font-size: 14px;
color: #9E2D2B;
line-height: 24px;
}

/*--------------Patient Details------------------*/


.patient-tab {
 padding: 0;   
}
.div-patient-details {   
    float: left;
    width: 100%;
     padding-bottom: 1em;
}
.patient-common-details {
    width: 98%; 
    margin-left: 2%;
}
.patient-photo {
    float: left;
    width: 20%;
}
.patient-photo .name {
    float: left;
    margin: 0;
    width: 100%;
}
.patient-photo .name .patient-name {
    font-size: 14px;
    float: left;
    width: 88%;
}
.patient-photo .name .video-icon {
    float: left;
    width: 12%;
}
.ul-commom-details, .patient-menu {
    width: 80%;
    float: left;
}
.ul-commom-details li {
    display: inline-block;
    width: 24%;
    float: left;
    margin-left: 0;
}
.ul-commom-details li:first-child {
    width: 28%;   
}
.ul-commom-details .email-link {
    font-size: 12px; 
}
.patient-menu {
    margin-top: 0;   
    background-image:url("../img/patient-details/back-menu.png");
    background-repeat: no-repeat;
    width: 60%;
    height: 38px;
}
.patient-menu li {
    float: left;
    margin-left: 0;
    text-align: center;
    vertical-align: center;
    border-right: 1px solid #ce800f;
}
.patient-menu li:last-child {
    border-right: none;   
}
.patient-menu a {
    display: block;
    width: 100%;
    height: 100%;
    color: #404040;
    text-align: center;
    padding: 8px 17px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4);
}
.patient-special-details {
    border-top: 1px solid #cddde7;
    float: left;
    width: 100%;
}
.block-left {
    width: 25%; 
    background-color: #FFFFFF;
    float: left;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}
.block-center {
    width: 55%;
     margin-bottom: 1em;
}
.block-right {
    width: 20%;
    float: right;
    margin-top: 0;
    border-left: 1px solid #DDD;
    background-color: #FFFFFF;
}
 .block-left h3 {
    float: left;
     margin: 0;
     background-color: #b8d2db;
     width: 100%;
     padding: 5%;
 }
.block-left table {
    width: 100%;   
}
.block-left .updates h3 {
    font-size: 14px;
    font-weight: bold;
}
.patient-special-details table {
    margin-bottom: 0;
    border-left: none;
    border-top: none;
    padding-bottom: 1em;
    float: left;
}
.patient-special-details table td {
    font-size: 12px;  
    padding: 4px;
}
.patient-special-details table tr:nth-of-type(2n) {
    background: none repeat scroll 0% 0% #FFFFFF;
}
.patient-special-details table thead th{
    color: #336173;
}
.patient-special-details .table-condition thead, .patient-special-details .table-participation thead, .patient-special-details .table-medical-team thead {
    background: #FFFFFF;
}
.block-center {
    float: left;
    margin-top: 0;
}
.block-center .ul-graphs {
    margin: 0;
    float: left;
    width: 100%;
}
.block-center li, .block-center .ul-graphs img {
    margin: 0;
    float: left;
    width: 100%;
}

.block-right h3 {
    padding: 0.5rem 0.700rem 0.700rem;
font-size: 0.875rem;
font-weight: bold; 
    background: #b8d2db;
    margin-top: 0;
    margin-bottom: 0;
}
.block-right h4 {
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}
.ul-bphrw {
    float: left;
    margin: 0;
    width: 100%;
}
.ul-bphrw li {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #DDD;
    min-height: 80px;
}
.ul-bphrw li .p-bp, .ul-bphrw li .p-weight {
    color: #ed9906;
    font-size: 30px;
    font-weight: bold;
}
.ul-bphrw li .p-bpm, .ul-bphrw li .p-pulse {
    width: 50%;
    float: left;
     color: #ec2106;
    font-size: 30px;
    font-weight: bold;
}
.ul-bphrw li .p-bpm span, .ul-bphrw li .p-pulse span, .ul-bphrw li .p-weight span{
     color: #ec2106;
    font-size: 12px;
    font-weight: normal;
    color: #4b4b4b
        
}
.ul-bphrw li .p-weight {
    color:#23a816;
}   
.ul-bphrw li .p-weight span {
    width: 50%;
    text-align: center;
    display: block;
    float: left;
    margin-top: 5px;
}
.ul-graphs {
    float: left;
    width: 96%;
    margin: 0 2%;
}
.ul-graphs li{
    float: left;
    width: 96%;
    margin: 0 2%;
}
.block-center .vitals-form {
    margin: 0;
    float: left;
    width: 96%;
    padding: 2%;
}
.vitals-form .days, .vitals-form .a-events{
	box-shadow: 0px 0px 0px 0px #b9b9b9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #FFFFFF 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #FFFFFF 100%);
	background:-o-linear-gradient(top, #ededed 5%, #FFFFFF 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #FFFFFF 100%);
	background:linear-gradient(to bottom, #ededed 5%, #FFFFFF 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#FFFFFF',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #b9b9b9;
	display:inline-block;
	cursor:pointer;
	color:#5f5f5f;
	font-family:arial;
	font-size:12px;
	padding:2px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
    margin-right: 1%;
}
.vitals-form .days:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #FFFFFF 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #FFFFFF 5%, #ededed 100%);
	background:-o-linear-gradient(top, #FFFFFF 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #FFFFFF 5%, #ededed 100%);
	background:linear-gradient(to bottom, #FFFFFF 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}
.vitals-form .f-dropdown li {
    font-size: 12px;
}

.myButton:active {
	position:relative;
	top:1px;
}
.span-from {
    margin-left: 10px;   
}
.block-left {
   -webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-left-radius: 10px; 
}
.block-left .updates {
    float: left;
    min-height: 250px;
    -webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-left-radius: 10px;
}
.updates .tabs dd > a, .updates .tabs .tab-title > a {
    padding: 0.2rem 1rem;   
    font-size: 13px;
}

.updates .tabs li:first-child {
    margin-left: 10px;
}
.updates .tabs li:last-child {
    margin-left: 1px;
}
.updates .tabs-content {
    margin-bottom: 1.5rem;
    width: 88%;
    border: 1px solid #cddde7;
    margin: 0 3%;
    padding: 4%;
}
.updates textarea {
 margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}
.updates a.edit {
    float: right;
}
#block-left .ul-details, #block-left .ul-details li {
    float: left;
    margin-left: 0;
    width: 100%;
}
#block-left .accordion-navigation > a, .accordion dd > a {
    background: none repeat scroll 0% 0% #cddde7;
    color: #356A7D;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}
#block-left .ul-details .content {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
#block-left table {
    border: none; 
    border-bottom: 1px solid #DDD;
    margin: 0;
    width: 100%;
}
#block-left .updates li {
    float: left;
    margin-left: 5px;
    width: 40%;
    margin-top: 5px;
}
#block-left .tabs-content h3 {
    background: #FFFFFF;   
}